body {
  background: url('../images/clouds.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #2b2e3e;
  background-color: rgba(255, 255, 255, 1);
  background-blend-mode: color;
  font-family: 'Roboto', sans-serif;
  /*font-family: 'Lora', serif;*/
  overflow-x: hidden;
}

.weather-line {
  opacity: 0.8;
  font-size: 21px;
  letter-spacing: 2px;
  text-align: center;
}
.weather-line:first-of-type {
  margin-top: 8%;
  margin-bottom: 10px;
}
.weather-line:not(:first-of-type) {
  display: none;
}

.location-input {
  outline: none;
  border: none;
  font-size: 48px;
  color: #2b2e3e;
  background: transparent;
  letter-spacing: 4px;
  margin-bottom: 80px;
  /*font-family: 'Roboto', sans-serif;*/
}
.input-wrapper {
  position: relative;
}

.day-wrapper {
  margin-bottom: 20px;
}
.day {
  font-family: 'Lora', serif;
}
.small-txt {
  font-size: 11px;
}


.weather-num-wrapper {
  height: 21px;
  overflow: hidden;
  text-align: center;
  padding-left: 90px;
}
.weather-nums {
  position: relative;
  display: inline-block;
  margin-top: 20px;
  float: left;
  text-align: initial;
}
.num {
  display: block;
  margin: -13px 0;
}
